#HEAD {
  TEXT ALLIGN:CENTRE;
  BACKGROUND COLOUR: #FFF8DC
  COLOUR:SILK;

}

#TITTLE {
  TEXT ALLIGN:CENTRE;
  FONT:TAHOMA

}

#BODY {
   TEXT ALLIGN:CENTRE;
   FONT:COMIC SANS;

}

#CENTRE {
  TEXT ALLIGN:CENTRE;
  FONT:COMIC SANS;
}